.home-container {
  background-color: #e6ccb2;
  flex: 1;
  display: flex;
  overflow: auto;
}

.home-content-container {
  background-color: #e6ccb2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .home-ben-picture-container {
  background-color: blue;
  min-width: 300px;
  display: flex;
  align-items: end;
  justify-content: end;
} */

.home-text-container {
  width: 1000px;
  min-width: 1000px;
  margin-right: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: ease all 0.5s;
}

.home-body-text-title-container {
  display: flex;
  width: 100%;
}

.home-intro-text-container {
  padding: 10px 10px 5px 10px;
}

.home-body-text-container {
  align-self: stretch;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-intro-text {
  margin: 0;
  font-family: IBM-Plex-Sans-Thai;
  font-size: 60px;
  color: #9c6644;
  text-align: left;
  transition: ease all 0.5s;
}

.home-body-text-title {
  margin: 0;
  padding: 5px 10px 0px 10px;
  font-family: IBM-Plex-Sans-Thai;
  font-size: 56px;
  color: #9c6644;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  transition: ease all 0.5s;
}

.home-body-text {
  margin: 0;
  padding: 0px 10px 10px 10px;
  font-family: IBM-Plex-Sans-Thai;
  font-size: 42px;
  color: #9c6644;
  text-align: justify;
  transition: ease all 0.5s;
}

.ben-picture {
  max-width: 100%;
  height: 80%;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: 0;
}

b {
  font-weight: normal;
  font-family: IBM-Plex-Sans-Thai-Bold;
}

@media only screen and (max-width: 1919px) {
  .home-text-container {
    width: 700px;
    min-width: 700px;
    transition: ease all 0.5s;
  }
  .home-intro-text {
    font-size: 42px;
    transition: ease all 0.5s;
  }

  .home-body-text-title {
    font-size: 40px;
    transition: ease all 0.5s;
  }

  .home-body-text {
    font-size: 36px;
    transition: ease all 0.5s;
  }
}
